services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432'
  nginx:
    image: 'nginx:latest'
    ports:
      - '80:80'
    volumes:
      - ./nginx:/etc/nginx/conf.d
